/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&family=Press+Start+2P&family=Silkscreen&display=swap');
@import "tailwindcss";
